<html>

<head>
</head>

<body>{% extends "base.html" %} {% block content %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>What We Do</title>
    <div style="height:100%;width:100%;background-color:#88d3a5;margin:auto;text-align:center;padding: 10px 40px 10px 40px">
        <br>
        <h2><span style="font-family: Helvetica,Arial,sans-serif;">What We Do</span></h2>
        <p> <span style="font-family: Helvetica,Arial,sans-serif;">As the COVID19 pandemic worsens globally, online learning has severely impacted inequality as schools are forced to decide between putting lives at risk and providing an accessible education.

            <br>Phone ownership is vastly more widespread than consistent internet access. Just 6% of children in eastern and southern Africa have access to the internet, yet cell phone ownership can be as high as 82%.<br><br>EduTools makes traditional online learning accessible without the need of internet access, all you need is a basic phone.
          <br>
          We used a combination of Python (Flask and other APIs), JavaScript, and basic webdev to get
          this working. <br>
          <br>
          Thank you for testing out our project. <br>
          <br>
          <em>Daniel Li<br>
            David Chen<br>
            Rohit Lakshman<br>
            Nate Sawant
            </em> 
        <br><br><br><br><br>
        <strong>November 2020</strong></span>

        </p>
    </div>
    {% endblock %}
</body>

</html>